language: node_js
node_js:
  - "stable"
cache:
  directories:
    - "node_modules"
install:
  - yarn install
services:
  - docker
  - postgresql

env:
  global:
  - NODE_ENV=test

before_install:
  - docker run -d -p 9000:9000 -e "MINIO_ACCESS_KEY=MINIOACCESSKEY" -e "MINIO_SECRET_KEY=MINIOSECRETKEY" minio/minio server /data
  - docker run minio/mc mb books-test
before_script:
  - psql -c 'create database books_test;' -U postgres
  - psql -c "CREATE USER admin WITH PASSWORD null;" -U postgres
  - yarn build
  - npx sequelize db:migrate
script:
  - yarn test
after_success:
  - yarn coverage
